---
---
<footer class="footer">
  <div class="footer-inner">
    <div class="footer-brand">DIAMOND <span>IMPACT</span></div>
    <ul class="footer-links">
      <li><a href="#problem">Waarom dit kamp</a></li>
      <li><a href="#coaches">Coaches</a></li>
      <li><a href="#program">Programma</a></li>
      <li><a href="#signup">Inschrijven</a></li>
      <li><a href="#faq">FAQ</a></li>
    </ul>
    <div class="footer-copy">
      © 2026 Diamond Impact Baseball<br/>
      FCA Netherlands × Celebration Church Hilversum<br/>
      <a href="mailto:vrooi@celebrationchurch.nl">vrooi@celebrationchurch.nl</a>
    </div>
  </div>
</footer>
